@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* UTILITY CLASSES */
.INPUT-DESIGN {
  outline: none;
  border: 1px solid var(--HEADER--BG-COLOR);
  border-radius: 5px 0 5px 0;
  min-height: 2rem;
  padding: 0.5em 0.75em;
  font-size: 1rem;
  color: var(--HEADER--BG-COLOR);
  font-weight: 500;
  background-color: var(--BG-COLOR);
  transition: all 0.1s ease;
}

/* VARIABLES */
:root {
  --BG-COLOR: #a6f7be;
  --HEADER--BG-COLOR: #000;
  --HEADER--TEXT--COLOR: #fff;
  --INPUT--TEXT-COLOR: #112a46;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

label {
  cursor: text;
}

* {
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html,
body {
  background-color: var(--BG-COLOR);
  font-family: "Poppins", sans-serif;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

label,
input {
  cursor: search;
}
label[for="gcash"],
label[for="paypal"],
label[for="creditcard"] {
  cursor: pointer;
}

input[type="radio"] {
  cursor: pointer;
}

/* Styles */
/* INDEX */
/* CONTAINER */
.indexcontainer {
  width: 100%;
  min-height: 100%;
  position: relative;
}
.indexcontainer form h2 {
  margin-bottom: 1em;
}

/* CONTAINER HEADER */
.indexcontainer__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1% 7%;
  padding-bottom: 10px;
  background-color: var(--HEADER--BG-COLOR);
  color: var(--HEADER--TEXT--COLOR);
}

.indexcontainer__header h1 {
  font-size: clamp(1.5rem, 1.2vw + 1.5rem, 2.5rem);
  position: relative;
  letter-spacing: 10px;
}

/* CONTAINER MAIN */
.indexcontainer__main {
  width: 100%;
  padding: 2% 8%;
}

/* CUSTOMER INFO */
.indexcontainer__main form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.indexcontainer__main form div {
  column-gap: 30px;
}

.indexcontainer__main form .First__Form div {
  position: relative;
  margin-bottom: 1.5em;
}

.indexcontainer__main form .Second__Form div {
  position: relative;
  margin-bottom: 1.5em;
}

label[for="tenant__name"] {
  position: absolute;
  top: 5px;
  left: 10px;
  background-color: var(--BG-COLOR);
  transition: all 0.5s ease;
}

.INPUT-DESIGN:focus ~ label[for="tenant__name"],
.INPUT-DESIGN:valid ~ label[for="tenant__name"] {
  transform: translate(-15px, -16px) scale(0.7);
  color: var(--INPUT--TEXT-COLOR);
  font-weight: 700;
}

.INPUT-DESIGN:focus {
  border: 2px solid var(--INPUT--TEXT-COLOR);
}

label[for="tenant__id"] {
  position: absolute;
  top: 5px;
  left: 10px;
  background-color: var(--BG-COLOR);
  transition: all 0.5s ease;
}

.INPUT-DESIGN:focus ~ label[for="tenant__id"],
.INPUT-DESIGN:valid ~ label[for="tenant__id"] {
  transform: translate(-15px, -16px) scale(0.7);
  color: var(--INPUT--TEXT-COLOR);
  font-weight: 700;
}

.INPUT-DESIGN:focus {
  border: 2px solid var(--INPUT--TEXT-COLOR);
}

label[for="contact__number"] {
  position: absolute;
  top: 5px;
  left: 10px;
  background-color: var(--BG-COLOR);
  transition: all 0.5s ease;
}

.INPUT-DESIGN:focus ~ label[for="contact__number"],
.INPUT-DESIGN:valid ~ label[for="contact__number"] {
  transform: translate(-15px, -16px) scale(0.7);
  color: var(--INPUT--TEXT-COLOR);
  font-weight: 700;
}

.INPUT-DESIGN:focus {
  border: 2px solid var(--INPUT--TEXT-COLOR);
}

.indexcontainer__main form .First__Form div:nth-child(4) {
  display: flex;
  margin-bottom: 0;
}
.indexcontainer__main form .First__Form div:nth-child(4) span {
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 30px;
}

.indexcontainer__main form .First__Form div:nth-child(4) .radio__btns {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.indexcontainer__main form .First__Form div:nth-child(4) .radio__btns div {
  margin-bottom: 10px;
}

.indexcontainer__main
  form
  .First__Form
  div:nth-child(4)
  .radio__btns
  div
  input {
  margin-right: 10px;
}

label[for="months__to__stay"] {
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 10px;
}

input[id="months__to__stay"] {
  border-radius: 5px 0 5px 0;
  border: 1px solid var(--HEADER--BG-COLOR);
  cursor: pointer;
  width: 100px;
  height: 30px;
  padding: 0 0.5em;
  font-weight: 700;
}

input[id="months__to__stay"]:focus {
  outline: none;
  border: 1px solid var(--INPUT--TEXT-COLOR);
}

.form__btns button {
  margin-right: 10px;
  font-size: clamp(0.5rem, 0.5vw + 0.3rem, 0.75rem);
  padding: 8px 20px;
  border: 1px solid var(--HEADER--BG-COLOR);
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px 0 5px 0;
  transition: all 0.1s ease;
}

/* RECEIPT INFO */
label[for="house__number"] {
  position: absolute;
  top: 5px;
  left: 10px;
  background-color: var(--BG-COLOR);
  transition: all 0.5s ease;
}

.INPUT-DESIGN:focus ~ label[for="house__number"],
.INPUT-DESIGN:valid ~ label[for="house__number"] {
  transform: translate(-15px, -16px) scale(0.7);
  color: var(--INPUT--TEXT-COLOR);
  font-weight: 700;
}

.INPUT-DESIGN:focus {
  border: 2px solid var(--INPUT--TEXT-COLOR);
}

label[for="home__types"] {
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 10px;
}

select[id="home__types"] {
  border-radius: 5px 0 5px 0;
  border: 1px solid var(--HEADER--BG-COLOR);
  cursor: pointer;
  font-weight: 700;
}

select[id="home__types"] option {
  font-weight: 700;
}

select[id="home__types"]:focus {
  outline: none;
  border: 1px solid var(--INPUT--TEXT-COLOR);
}

label[for="monthly__rent"] {
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 10px;
}

input[id="monthly__rent"]:read-only {
  background-color: rgba(133, 60, 60, 0.3);
}

.INPUT-DESIGN:focus {
  border: 2px solid var(--INPUT--TEXT-COLOR);
}

.INPUT-DESIGN:read-only {
  background-color: rgba(133, 60, 60, 0.3);
}
button[id="generate__rec__no"] {
  margin-left: 10px;
  font-size: clamp(0.5rem, 0.5vw + 0.3rem, 0.75rem);
  padding: 8px 20px;
  border: 1px solid var(--HEADER--BG-COLOR);
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px 0 5px 0;
  transition: all 0.1s ease;
  margin-top: 10px;
}

button[id="generate__rec__no"]:hover,
button[id="generate__rec__no"]:focus {
  border: 2px solid var(--INPUT--TEXT-COLOR);
}

label[for="address"] {
  position: absolute;
  top: 5px;
  left: 15px;
  background-color: var(--BG-COLOR);
  transition: all 0.5s ease;
}

.INPUT-DESIGN:focus ~ label[for="address"],
.INPUT-DESIGN:valid ~ label[for="address"] {
  transform: translate(-15px, -16px) scale(0.7);
  color: var(--INPUT--TEXT-COLOR);
  font-weight: 700;
}

.INPUT-DESIGN:focus {
  border: 2px solid var(--INPUT--TEXT-COLOR);
}

label[for="street"] {
  position: absolute;
  top: 5px;
  left: 15px;
  background-color: var(--BG-COLOR);
  transition: all 0.5s ease;
}

.INPUT-DESIGN:focus ~ label[for="street"],
.INPUT-DESIGN:valid ~ label[for="street"] {
  transform: translate(-15px, -16px) scale(0.7);
  color: var(--INPUT--TEXT-COLOR);
  font-weight: 700;
}

.INPUT-DESIGN:focus {
  border: 2px solid var(--INPUT--TEXT-COLOR);
}

.form__btns button:hover,
.form__btns button:focus {
  border: 2px solid var(--INPUT--TEXT-COLOR);
}

.form__btns {
  align-self: flex-end;
}

/* FOOTER */
.footer {
  margin-top: 2em;
  display: grid;
  background-color: #3e473f;
  height: 70px;
  place-items: center;
}

/* RECEIPT */
.overlay {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
}
#receipt {
  display: grid;
  grid-template-columns: 1fr;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #a2e688;
  padding: 2em;
  row-gap: 20px;
}

.first__col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.third__col {
  padding: 0 3em;
}
.third__col p {
  margin-bottom: 0.5em;
}
.third__col p:nth-child(5) {
  margin-left: 2em;
}
.third__col h3 {
  text-align: center;
  margin-bottom: 1em;
}

#receipt .receipt__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#back_btn {
  padding: 1em 2em;
  font-weight: 700;
  cursor: pointer;
}

#print__btn {
  padding: 1em 2em;
  font-weight: 700;
  cursor: pointer;
}
hr {
  background-color: #000;
}

#receipt span {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 917px) {
  .indexcontainer__main form {
    flex-direction: column;
  }
  .form__btns {
    align-self: center;
  }
}

@media only screen and (max-width: 768px) {
  .indexcontainer__main form {
    flex-direction: column;
  }
  .INPUT-DESIGN {
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {
  .form__btns {
    text-align: center;
  }

  .indexcontainer__header nav {
    text-align: center;
  }
}

@media print {
  button {
    visibility: hidden;
  }
}
