@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Styles */
section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .form {
    width: 31.25em;
    height: 35em;
    background-color: #d2b3b3;
    border-radius: 1.56rem;
    box-shadow: 1px 5px 5px rgb(53, 38, 38);
}
section .form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block-start: 5px;
}

.divider {
    position: relative;
}
.divider::before,
.divider::after {
    content: "";
    position: absolute;
    width: 1050%;
    height: 5px;
    background-color: black;
}
.divider::before {
    bottom: 9px;
    left: -200px;
}

.divider::after {
    bottom: 9px;
    right: -200px;
}